<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot PassWord</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- use the font -->
    <style>
        @media screen and (max-width: 768px) {
            table {
                min-width: auto;
                width: 100%;
            }
        }
    </style>
</head>
<body>

<table align="center" border="0" cellpadding="0" cellspacing="0">
<!--    <thead>-->
<!--    <tr >-->
<!--        <th style="height: 25px; background-color: rgb(57, 151, 231)">&nbsp;</th>-->
<!--    </tr>-->
<!--    <tr >-->
<!--        <th style="height: 25px; background-color: rgb(45, 149, 237)">&nbsp;</th>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <th class="gradientBG" style="height: 5px; background-color: rgb(24, 146, 249)">&nbsp;</th>-->
<!--    </tr>-->
<!--    </thead>-->
    <tbody>
    <tr>
        <td style="padding: 30px 60px; font-size: 14px;">
            <p>Dear <b><i><span th:text="${fullName}">,</span></i></b><p>
            <p>You Asked to reset your password</p>
            <p>Please click on the link below to reset your password</p>
            <button><a href="www.google.com">Reset your Password</a></button>
            <p><b><i>or copy and paste the URL in your browser: </i></b></p>
            <p><b><i>URL:</i></b> <span th:text="${reset_url}"></span></p><b></b><b></b>

            <p>This email has been sent to <i><span th:text="${email}">,</span></i></p>
            <p>If this email is not meant for you, please ignore. For further assistance/queries, contact us at : support@decagonproject.com</p>
            <p>To report this mail as SPAM, please mail us at : abuse@decagonproject.com</p>
            <p>Thank You,</p>
            <p>Human Resource Management Team,</p>

            <p><b>[THIS IS AN AUTOMATED MESSAGE - PLEASE DO NOT REPLY DIRECTLY TO THIS EMAIL]</b></p>
        </td>
    </tbody>
</table>
</body>
</html>